---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { BLOG } from "@consts";
import Link from "@components/Link.astro";
import { shouldListPage } from "@lib/utils";

const posts = (await getCollection("blog"))
  .filter(shouldListPage)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const tags = posts
  .flatMap((post) => post.data.tags ?? [])
  .filter((tag, index, self) => self.indexOf(tag) === index);

type Acc = {
  [year: string]: CollectionEntry<"blog">[];
};

const postsMap = posts.reduce((acc: Acc, post) => {
  const year = post.data.date.getFullYear().toString();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});

const years = Object.keys(postsMap).sort((a, b) => parseInt(b) - parseInt(a));
---

<Layout title={BLOG.TITLE} description={BLOG.DESCRIPTION} route="blog">
  <Container>
    <div class="space-y-10">
      <h1 class="animate text-3xl font-semibold text-black dark:text-white">
        Posts
      </h1>

      <nav class="animate flex gap-4">
        {
          tags.map((tag) => (
            <Link
              href={`/blog/tags/${tag}`}
              className="text-xl text-gray-500 dark:text-gray-400"
            >
              #{tag}
            </Link>
          ))
        }
      </nav>

      <div class="space-y-4">
        {
          years.map((year) => (
            <section class="animate space-y-4">
              <div class="font-semibold text-black dark:text-white">{year}</div>
              <div>
                <ul class="not-prose flex flex-col gap-4">
                  {postsMap[year].map((post) => (
                    <li>
                      <ArrowCard entry={post} />
                    </li>
                  ))}
                </ul>
              </div>
            </section>
          ))
        }
      </div>
    </div>
  </Container>
</Layout>
