---
import type { CollectionEntry } from "astro:content";

type Props = {
  prevPost: CollectionEntry<"blog"> | undefined;
  nextPost: CollectionEntry<"blog"> | undefined;
};

const { prevPost, nextPost } = Astro.props;
---

<div class="prevnext">
  {
    prevPost !== undefined && Boolean(prevPost.slug) && (
      <a class="pn prev" href={`/${prevPost.collection}/${prevPost.slug}`}>
        <span class="dir">‹ Older</span>
        <span class="t">{prevPost.data.title}</span>
      </a>
    )
  }
  {
    nextPost !== undefined && Boolean(nextPost.slug) && (
      <a class="pn next" href={`/${nextPost.collection}/${nextPost.slug}`}>
        <span class="dir">Newer ›</span>
        <span class="t">{nextPost.data.title}</span>
      </a>
    )
  }
</div>
