---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { PROJECTS } from "@consts";
import { shouldListPage } from "@lib/utils";

const projects = (await getCollection("projects"))
  .filter(shouldListPage)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const tags = projects
  .flatMap((p) => p.data.tags ?? [])
  .filter((tag, index, self) => self.indexOf(tag) === index);
---

<Layout
  title={PROJECTS.TITLE}
  description={PROJECTS.DESCRIPTION}
  route="projects"
>
  <div class="page-head">
    <h1 class="page-title">Projects</h1>
    <p class="page-intro">
      Things I've built for funsies. Read about then, if you fancy.
    </p>
  </div>

  <div class="filter-row">
    <a class="pill active" href="/projects">all projects</a>
    {
      tags.map((tag) => (
        <a class="pill" href={`/projects/tags/${tag}`}>
          #{tag}
        </a>
      ))
    }
  </div>

  <div class="card-list">
    {projects.map((project) => <ProjectCard entry={project} />)}
  </div>
</Layout>
