---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { PROJECTS } from "@consts";
import { shouldListPage } from "@lib/utils";

const projects = (await getCollection("projects"))
  .filter(shouldListPage)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const tags = projects
  .flatMap((p) => p.data.tags ?? [])
  .filter((tag, index, self) => self.indexOf(tag) === index);
---

<Layout
  title={PROJECTS.TITLE}
  description={PROJECTS.DESCRIPTION}
  route="projects"
>
  <Container>
    <div class="space-y-10">
      <h1 class="animate text-3xl font-semibold text-black dark:text-white">
        Projects
      </h1>

      <nav class="animate flex flex-wrap gap-4">
        {
          tags.map((tag) => (
            <Link
              href={`/projects/tags/${tag}`}
              className="text-xl text-gray-500 dark:text-gray-400"
            >
              #{tag}
            </Link>
          ))
        }
      </nav>

      <ul class="animate not-prose flex flex-col gap-4">
        {
          projects.map((project) => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</Layout>
