---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { PROJECTS } from "@consts";
import { shouldListPage, shouldRenderPage } from "@lib/utils";

type Props = {
  tag: string;
};

const { tag } = Astro.props;

const projects = (await getCollection("projects"))
  .filter(shouldListPage)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const tags = projects
  .flatMap((project) => project.data.tags ?? [])
  .filter((value, index, self) => self.indexOf(value) === index);

const taggedProjects = projects.filter((project) =>
  project.data.tags?.includes(tag),
);

export async function getStaticPaths() {
  const projects = (await getCollection("projects"))
    .filter(shouldRenderPage)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

  const tags = projects
    .flatMap((p) => p.data.tags ?? [])
    .filter((tag, index, self) => self.indexOf(tag) === index);

  return tags.map((tag) => ({
    params: { slug: tag },
    props: { tag },
  }));
}
---

<Layout
  title={`${PROJECTS.TITLE} tagged with #${tag}`}
  description={`Explore some of the projects I've worked on that are tagged with #${tag}`}
  route={`projects/tags/${tag}`}
>
  <div class="page-head">
    <h1 class="page-title">Projects</h1>
    <p class="page-intro">
      {taggedProjects.length} project{taggedProjects.length === 1 ? "" : "s"}
      tagged <strong>#{tag}</strong>.
    </p>
  </div>

  <div class="filter-row">
    <a class="pill" href="/projects">all projects</a>
    {
      tags.map((value) => (
        <a
          class:list={["pill", value === tag && "active"]}
          href={`/projects/tags/${value}`}
        >
          #{value}
        </a>
      ))
    }
  </div>

  <div class="card-list">
    {taggedProjects.map((project) => <ProjectCard entry={project} />)}
  </div>
</Layout>
